.todoItems {
  display: flex;
  align-items: center;
  width: 80%;
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;
}
.todoItems > p {
  flex: 1;
}
.todoItem--done {
  text-decoration: line-through;
}
