.app {
  height: 100vh;
  width: 100vw;
  background-color: #171717;
  display: grid;
  place-items: center;
}
.app_container {
  width: 500px;
  border: 2px solid;
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-image-source: linear-gradient(to right, #bdc3c7, #2c3e50);
  border-radius: 12px;
  padding: 32px 0px;
}
.app_todocontainer {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
